<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="">
        <label for="username">User</label>
        <input type="text" name="username" id="username">

        <label for="password">Password</label>
        <input type="text" name="password" id="password">

        <label for="confrmPassword">Confirm Password </label>
        <input type="text" name="confrmPassword" id="confrmPassword">

        <button type="submit">Sign Up</button>



    </form>
</body>
</html>