<nav>
  <div class="nav-content">
      <div class="site-name">RentNPlay</div>
      <div class="nav-links">
          <% if(user) { %>
          <a href="/games/index">Home</a>
          <a href="/auth/sign-out">Sign Out</a>
          <a href="/auth/profile">Profile</a>
          <% } else { %>
          <a href="/auth/sign-in">Sign In</a>
          <a href="/auth/sign-up">Sign Up</a>
          <% } %>
      </div>
  </div>
</nav>
