<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page!</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="main-content">
        <h1 id="rentnplay">RentNPlay</h1>
        <p id="description">RentNPlay is an innovative platform dedicated to enhancing the gaming experience by providing a seamless service for renting and purchasing video games. The website is designed to cater to gamers of all ages and preferences, offering a wide range of titles across various genres and gaming consoles.</p>
    </div>
</body>
</html>