body{
    background: linear-gradient(109.6deg, rgb(223, 234, 247) 11.2%, rgb(244, 248, 252) 91.1%);
}

nav{
    display: flex;
    justify-content: flex-start;
    background-color: antiquewhite;
    gap: 10px;
}