<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Add a New Game</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <main class="add-game-page">
    <h1>Add New Game</h1>
    <form class="add-game-form" action="/users/<%= user._id %>/games" method="POST">
        <label for="game">Game:</label>
        <input type="text" name="game" id="game" required>
        
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" required>

        <label for="contact">Contact:</label>
        <input type="text" name="contact" id="contact" required>
        
        <label for="purchaseType">Purchase Type:</label>
        <select id="purchaseType" name="purchaseType" required>
          <option value="SELL">For Sale</option>
          <option value="RENT">For Rent</option>
        </select>
        <button type="submit">Add Game</button>
    </form>
  </main>
</body>
</html>
